MONGO_URI=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=7d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

MAIL_USER=
MAIL_PASS=
MAIL_FROM=
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true

GROQ_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PAYMOB_API_KEY=
PAYMOB_INTEGRATION_ID=
PAYMOB_IFRAME_ID=

CORS_ORIGINS=http://localhost:5173,http://localhost:3000
